*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #a60000;
    font-family: sans-serif;
}

/*Acá empieza el header*/

header{
    background-color: #0d0e40;
}

a   {
    text-decoration: none;
}

.logo{
    width: 120px;
}

.tituloHeader{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 90px;
    text-align: center;
}

.iconosHeader{
    padding-top: 80px;
}

.iconoHeader{
    font-size: 24px;
    margin: 0px 6px 0px 6px;
    color: rgb(105, 99, 99);
}

.nav{
    display: flex;
    flex: row;
    justify-content: space-evenly;
    background-image: linear-gradient(#0d0e40, #a60000);
}


.navbar{
    color: black;
    padding: 2px 5px 2px 5px;
    background-color: white;
    border-radius: 15%;
}

.navbar:hover{
    background-color:rgb(143, 134, 134);
}

/*Acá empieza la información de la página*/

.tabla{
    padding: 10px 0px 10px 0px;
}

.tituloPrincipalTabla{
    color: black;
    font-size: 60px;
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
}

.tituloSecundarioTabla{
    font-size: 40px;
    text-align: center;
    color: black
}

.tablaTabla{
    color: black;
    font-size: 30px;
    background-color: rgb(207, 171, 171); 
}

.zonaA{
    background-color: #18183a;
    text-align: start;
}

.equipo{
    text-align: start;
}

.equipoPropio{
    background-color: rgb(204, 128, 128);
}

td{
    border: 2px solid black;
    text-align: center;
}

th{
    text-align: center;
}

.textoTabla{
    color: black;
    text-align: center;
}

.novedades{
    text-align: center;
}

.tituloNovedades{
    color: black;
    font-size: 60px;
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
}

.tituloNoticias{
    font-size: 40px;
    text-align: center;
    color: black;
}

.textoNoticias{
    color: black;
    font-size: 18px;
    font-weight: 300px;
    text-align: justify;
    padding-right: 30px;
    padding-left: 30px;
}

.articleIndex{
    border: 2px solid black;
}
.fotoNoticias{
    width: 80%;
    margin: 10px 0px 10px 0px;
    transition: all 2s;
}

.fotoNoticias:hover{
    transform: scale(2,2);
    width: 200px;
}

/*Acá empieza el footer*/

.footerIndex{
    background-image: linear-gradient(#a60000,#0d0e40);
}

.iconosFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.tituloFooter{
    color: black;
    font-size: 50px;
    text-align: center;
}

.footerIcono{
    font-size: 30px;
}

.footerDerechos{
    color: black;
    text-align: center;
    font-size: 10px;
}

/*Acá empieza la sección "El Club"*/
/*Acá empieza el header*/

.bodyElClub{
    background-image: linear-gradient(#0d0e40, white, #a60000);
}

.navElClub{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.navbarEC{
    color: black;
    padding: 2px 5px 2px 5px;
    margin: auto;
    background-color: white;
    border-radius: 5%;
}

.navbar:hover{
    background-color:rgb(143, 134, 134);
}

.elClub{
    padding-top: 10px;
}

.tituloPrincipalElClub{
    background-color: white;
    text-align: center;
    font-size: 50px;
    color: black;
}

.tituloAutoridades{
    text-align: center;
    font-size: 40px;
    color: black;
}

.tituloSecundarioAutoridades{
    background-color: #0d0e40;
    color: black;
    text-align: center;
}

.primeraLinea{
    padding-top: 10px;
}

.segundaLinea{
    padding-top: 30px;
}

.terceraLinea{
    padding-top: 30px;
}

.articleAutoridades{
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.personas{
    font-size: 25px;
    color: black;
}

.footerElClub{
    padding-top: 40px;
}

