@import "variables";

@import "pages/elclub";
@import "pages/galeria";
@import "pages/nosotros";
@import "pages/noticias";

.nav{
    .a{
        font-size: 24px;
        margin: 0px 6px 0px 6px;
    }
    &:hover{
        transform: scale(1.5);
    }
}

p{
    font-size: 20px *2;
}

/*Mapas*/

$colores: ("primary" blue, "secundary" grey, "success" green, "warning" yellow);

@each $name, $color in $colores{
    .btn-#{$name}{
        background-color: $color;
    }
}